In [12]:
"Hellllloo"

'Hellllloo'

In [13]:
str = "Hello How are you"
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str * 2)
print(str + "TEST")

Hello How are you
H
llo
llo How are you
Hello How are youHello How are you
Hello How are youTEST

In [14]:
# Lists
list = [1, 2, 3, 4]
print(list) # Prints complete list
print(list[0]) # Prints first element of the list
print(list[1:3]) # Prints elements starting from 2nd till 3rd

[1, 2, 3, 4]
1
[2, 3]

In [15]:
#split a string by blank spaces
str = "Hello How are you"
print(str.split(" ")) # ['Hello', 'How', 'are', 'you']

['Hello', 'How', 'are', 'you']

In [16]:
print("The columns are: {2}, {1}, {0}".format("first", "second", "third")) # The columns are: third, second, first
print("The columns are: {0}, {1}, {2}".format(*"third", "second", "first")) # The columns are: third, second, first

The columns are: third, second, first
The columns are: t, h, i

In [17]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_list.append(6)
print(my_list)
my_list.insert(0, 0)
print(my_list)
my_list.remove(2)
print(my_list)
my_list.pop()
print(my_list)
len(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5]

5

In [18]:
my_list = my_list + [7, 8, 9]
print(my_list)
my_list = my_list * 2
print(my_list)

[0, 1, 3, 4, 5, 7, 8, 9]
[0, 1, 3, 4, 5, 7, 8, 9, 0, 1, 3, 4, 5, 7, 8, 9]

In [19]:
Dict = {'Name': 'Zara', 'Age': 7}
print(Dict)
print(Dict['Name'])
print(Dict['Age'])
Dict['Age'] = 8
print(Dict)

{'Name': 'Zara', 'Age': 7}
Zara
7
{'Name': 'Zara', 'Age': 8}

In [22]:
print(Dict.keys())
print(Dict.values())
print(Dict.items())

dict_keys(['Name', 'Age'])
dict_values(['Zara', 8])
dict_items([('Name', 'Zara'), ('Age', 8)])

In [23]:
if True:
    print("Yes it was true.")

Yes it was true.

In [24]:
isc = "Andhra Pradesh"

if isc == "Bangalore":
    print("Welcome to the Bangalore")  
elif isc == "Andhra Pradesh":
    print("Welcome to the Andhra Pradesh")
else:
    print("Where are you?")

Welcome to the Andhra Pradesh

In [25]:
x = int(input("Please enter an integer: "))
y = int(input("Please enter another integer: "))

if x > y:
    print("x is greater than y")
elif x < y:
    print("x is less than y")
else:
    print("x is equal to y")

x is equal to y

In [ ]:
unit = int(input("Please enter the unit: "))     

if unit <= 200:
    total = unit * 1.0 
elif unit <= 300:
    total = (200 * 1.0) + ((unit - 200) * 2.5) 
else:
    total = (200 * 1.0) + (100 * 2.5) + ((unit - 300) * 4.5)  

print("The bill amount is:", total)

The bill amount is: 2151.0

In [29]:
# Electricity Bill Calculation

def calculate_electricity_bill(units):
    if units <= 200:
        bill = 0
    elif units <= 500:
        bill = (units - 200) * 8
    elif units <= 1000:
        bill = (300 * 8) + (units - 500) * 11
    else:
        bill = (300 * 8) + (500 * 11) + (units - 1000) * 14
    
    return bill

units = int(input("Enter the number of units consumed: "))
bill_amount = calculate_electricity_bill(units)

print(f"Total electricity bill for {units} units: Rs. {bill_amount}")

Total electricity bill for 1145 units: Rs. 9930

In [ ]:
def calculate_tax(income, savings):
    income = in
    if income <= 200000:
        tax = 0
    elif income <= 1000000:
        tax = (income - 200000) * 0.1
    elif income <= 2000000:
        tax = (200000 * 0.1) + (income - 1000000) * 0.2 
    else:
        tax = (200000 * 0.1) + (1000000 * 0.2) + (income - 2000000) * 0.3  
    
    return tax

income = int(input("Enter your annual income: "))
savings = int(input("Enter your savings: "))
tax_amount = calculate_tax(income)

print(f"Total tax amount for an income of Rs. {income}: Rs. {tax_amount}")

Total tax amount for an income of Rs. 5000000: Rs. 1120000.0

In [ ]:
# Electricity Bill Calculation

def calculate_electricity_bill(units):
    if units <= 200:
        bill = 0
    elif units <= 500:
        bill = (units - 200) * 8
    elif units <= 1000:
        bill = (300 * 8) + (units - 500) * 11
    else:
        bill = (300 * 8) + (500 * 11) + (units - 1000) * 14
    
    return bill

units = int(input("Enter the number of units consumed: "))
bill_amount = calculate_electricity_bill(units)

print(f"Total electricity bill for {units} units: Rs. {bill_amount}")


#2nd code
def calculate_tax(salary, savings):
    deductible_savings = min(savings, 200000)
    taxable_salary = salary - deductible_savings

    if taxable_salary <= 1000000:
        return taxable_salary * 0.10
    elif taxable_salary <= 2200000:
        return 100000 + (taxable_salary - 1000000) * 0.20
    else:
        return 340000 + (taxable_salary - 2200000) * 0.30

# Eg:
salaries_savings = [(4500000, 150000), (6200000, 350000)]

for salary, savings in salaries_savings:
    tax = calculate_tax(salary, savings)
    print(f"For Salary: ₹{salary}, Savings: ₹{savings} -> Tax to be paid: ₹{tax:.2f}")


#3rd code
def calculate_fd_interest(amount, years=1):
    first_limit = 10_00_000  
    second_limit = 15_00_000 
    remaining_limit = amount - (first_limit + second_limit)
    
    interest_first = first_limit * 0.10 * years  
    interest_second = second_limit * 0.15 * years 
    interest_remaining = remaining_limit * 0.18 * years  
    
    total_interest = interest_first + interest_second + interest_remaining
    
    return total_interest

# Total FD amount
fd_amount = 65_00_000
interest_earned = calculate_fd_interest(fd_amount, 1)  
print(f"Total interest earned in 1 year on ₹{fd_amount}: ₹{interest_earned}")

In [2]:
#code to check whether the entered number is prime or not
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

78 is not a prime number

In [3]:
#code to check whether the entered number is armstrong or not
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

153 is an Armstrong number

In [ ]:
#fibonacci series code
n = int(input("Enter the number of terms: "))
a, b = 0, 1 
print("Fibonacci Series:") 
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34 55 89

In [1]:
#code to find the length of the given string without using len() function
str = input("Enter a string: ")
length = 0
for i in str:
    length += 1
print("Length of the string is:", length)

Length of the string is: 6

In [ ]:
#code to replacing the uppercase characters with lowercase and vice versa in a given string without using any functions like isupper(), islower(), upper(), lower() 
user_input = input("Enter a string: ")
new_str = ""

for char in user_input:
    ascii_value = ord(char)  # Get ASCII value of the character
    
    if 65 <= ascii_value <= 90:  # Uppercase (A-Z)
        new_str += chr(ascii_value + 32)  # Convert to lowercase
    elif 97 <= ascii_value <= 122:  # Lowercase (a-z)
        new_str += chr(ascii_value - 32)  # Convert to uppercase
    else:
        new_str += char  

print("Modified string:", new_str)

Modified string: JAY

In [5]:
#code to print the fibonaaaci series upto n terms using while loop
n = int(input("Enter the number of terms: "))
a, b = 0, 1 
print("Fibonacci Series:") 
while n > 0:
    print(a, end=" ")
    a, b = b, a + b 
    n -= 1

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34 55 89

In [10]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit
    temp //= 10
print("Sum of the digits of the number:", sum)

Sum of the digits of the number: 28

In [11]:
#code to print he stars in the form of right angled triangle using function
def print_stars(n):
    for i in range(1, n + 1):
        print("*" * i)

print_stars(5)

*
**
***
****
*****

In [12]:
#code to print the stars in the pyramid form using function
def print_stars(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "*" * (2 * i - 1))

print_stars(5)

    *
   ***
  *****
 *******
*********

In [13]:
#code to print the stars in the reverse pyramid form using function
def print_stars(n):
    for i in range(n, 0, -1):
        print(" " * (n - i) + "*" * (2 * i - 1))

print_stars(5)

*********
 *******
  *****
   ***
    *